.cloud-device {
  margin-bottom: 75px;

  &__card {
    margin-bottom: 25px;
  }

  &__card-note {
    margin-top: 25px;
  }

  &__status {
    margin-bottom: 75px;
  }

  &__documents {
    padding-bottom: 75px;
  }

  &__payment-schedule {
    margin-bottom: 75px;
  }

  &__actions {
    margin-bottom: 50px;
  }

  &__free-replacement {
    margin-bottom: 75px;
  }
}

@include tablet {
  .cloud-device {
    &__status {
      margin-bottom: 50px;
    }

    &__documents {
      padding-bottom: 50px;
    }

    &__payment-schedule {
      margin-bottom: 50px;
    }

    &__actions {
      margin-bottom: 15px;
    }

    &__free-replacement {
      margin-bottom: 50px;
    }
  }
}
