.cloud-device {
  padding-bottom: 75px;

  &__card {
    margin-bottom: 25px;
  }

  &__card-note {
    margin-top: 25px;
  }

  &__status {
    margin-bottom: 75px;
  }

  &__documents {
    padding-bottom: 75px;
  }

  &__payment-schedule {
    margin-bottom: 75px;
  }

  &__actions {
    margin-bottom: 50px;
  }

  &__free-replacement {
    margin-bottom: 75px;
  }

  &__device-connection {
    margin-bottom: 75px;
  }

  &__device-address {
    margin-bottom: 75px;
  }

  &__messages-desc {
    @include b15;
    color: $text-minor;
    margin: 0 0 30px;
  }
}

@include tablet {
  .cloud-device {
    &__status {
      margin-bottom: 50px;
    }

    &__documents {
      padding-bottom: 50px;
    }

    &__payment-schedule {
      margin-bottom: 50px;
    }

    &__actions {
      margin-bottom: 15px;
    }

    &__free-replacement {
      margin-bottom: 50px;
    }

    &__device-connection {
      margin-bottom: 50px;
    }

    &__device-address {
      margin-bottom: 50px;
    }

    &__messages-desc {
      @include b13;
      margin: 0 0 15px;
    }
  }
}
