.first-payment {
  &__container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 75px;
  }

  &__invoice {
    width: 570px;
    margin-right: auto;
    flex-shrink: 0;
  }

  &__invoice-title {
    @include h48;
    margin: 0 0 5px;
    text-align: center;
    color: $text-main;
  }

  &__invoice-subtitle {
    @include h31;
    margin: 0 0 25px;
    text-align: center;
    color: $text-main;
  }

  &__invoice-desc {
    @include b15;
    margin: 0 0 50px;
    color: $text-minor;
  }

  &__name,
  &__phone {
    margin-bottom: 25px;
  }

  &__email {
    margin-bottom: 50px;
  }

  &__check {
    margin-bottom: 15px;
  }

  &__submit {
    display: block;
    margin: 50px auto;
    min-width: 250px;
  }

  &__payment-icons-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0;
    height: 25px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  //Details

  &__details {
    width: 450px;
    margin-left: 20px;
    flex-shrink: 0;
  }

  &__order {
    padding: 20px;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-bottom: 25px;
  }

  &__order-title,
  &__order-total-name,
  &__order-total-price {
    @include h19;
    margin: 0;
    color: $text-main;
  }

  &__order-title {
    margin-bottom: 20px;
  }

  &__order-row {
    @include b13;
    color: $text-minor;
    display: flex;
  }

  &__order-dots {
    flex-grow: 1;
    border-bottom: 1px dotted $text-minor;
    margin: 0 10px 5px;
  }

  &__order-row {
    &:nth-of-type(n) {
      margin-bottom: 10px;
    }
  }

  &__order-total {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__devices {
    border-top: 1px solid $stroke;
    border-bottom: 1px solid $stroke;
  }

  &__devices-btn {
    @include h15;
    @include btn-reset;
    color: $text-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    &:hover,
    &:focus {
      color: $text-main;
    }
  }

  &__device-toggle-icon {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    background-image: url("../img/arrow-down_default.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg);

    &.opened {
      transform: rotate(180deg);
    }
  }

  &__payment-card-block {
    display: none;
  }

  &__payment-card {
    margin-bottom: 23px;
  }
}

@include desktop {
  .first-payment {
    &__container {
      flex-direction: column;
    }

    &__invoice {
      width: 100%
    }

    &__invoice-desc {
      text-align: center;
    }

    &__details {
      width: 100%;
      margin-left: 0;
      padding-top: 75px;
    }
  }
}

@include tablet {
  .first-payment {
    &__container {
      padding-bottom: 50px;
    }

    &__invoice {
      padding-top: 25px;
    }

    &__invoice-title {
      @include h27;
      margin-bottom: 5px;
    }

    &__invoice-subtitle {
      @include h19;
      margin-bottom: 15px;
    }

    &__invoice-desc {
      @include b13;
    }

    &__order {
      padding: 15px;
    }

    &__order-title,
    &__order-total-name,
    &__order-total-price {
      @include h15;
      font-weight: 300;
    }

    &__order-title {
      margin-bottom: 15px;
    }

    &__order-row {
      @include b11;
    }

    &__order-row {
      &:nth-of-type(n) {
        margin-bottom: 5px;
      }
    }

    &__order-total {
      margin-top: 15px;
    }

    &__devices-title {
      @include h13;
    }

    &__details {
      padding-top: 50px;
    }
  }
}
