.my-comfort-modal {

  & .modal__body {
    padding-top: 230px;
  }

  & .modal__title {
    @include h27;
  }

  &__bg-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-image: url("../img/my-comfort-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;

    &--plus {
      background-image: url("../img/my-comfort-plus-bg.jpg");
    }

    &--premium {
      background-image: url("../img/my-comfort-premium-bg.jpg");
    }
  }

  &__stages {
    margin: 0;
    padding: 0;
  }

  &__stages-item {
    @include b13;
    color: $text-main;
    display: flex;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-image: url("../img/check.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__toggle-list {
    border: 1px solid $stroke;
    border-radius: 5px;
  }

  &__toggle-item {
    margin: 0;
    padding: 0 20px;

    &:not(:last-child) {
      border-bottom: 1px solid $stroke;
    }
  }

  &__toggle-item-btn {
    padding: 20px 0;
    margin: 0;
    display: flex;
    align-items: center;

    &  .info-block__toggle-icon {
      margin-right: 15px;
    }
  }

  &__toggle-content {
    display: none;
  }

  &__toggle-content-list {
    margin: 0;
    padding-bottom: 20px;
  }

  &__toggle-content-text {
    @include b15;
    color: $text-main;
    padding-bottom: 20px;
  }

  &__toggle-content-item {
    @include b15;
    color: $text-main;
    padding-left: 23px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary;
    }
  }

  &__toggle-content-note {
    @include b15;
    color: $text-minor;
    padding-bottom: 20px;
  }
}

@include tablet {
  .my-comfort-modal {
    &__bg-block {
      position: static;
      height: 28vw;
      min-height: 160px;
      background-size: auto 100%;
      border-radius: 0;
    }

    & .modal__body {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 75px;

      & > *:not(.my-comfort-modal__bg-block) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    & .modal__title {
      @include h19;
      padding-top: 30px;
      margin-bottom: 15px;
    }

    & .modal__desc {
      margin-bottom: 25px;
    }

    &__toggle-item-btn {
      @include h13;
    }

    &__stages-item,
    &__toggle-content-item,
    &__toggle-content-note,
    &__toggle-content-text {
      @include b13;
    }

    &__stages-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
