.file-load {
  @include link-reset;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $stroke;
  transition: border-color 0.3s;

  &:hover {
    border-color: $primary;
  }

  &__pdf-logo {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    background-image: url("../img/pdf.svg");
  }

  &__name {
    @include b15;
    margin: 0;
    color: $text-main;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    //display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }

  &__info {
    padding-right: 10px;
    max-width: calc(100% - 24px);
  }

  &__size {
    @include b11;
    margin: 0;
    color: $text-minor;
  }

  &__clear {
    @include btn-reset;
  }

  &__link,
  &__clear {
    @include link-reset;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    flex-shrink: 0;
    font-size: 0;
    line-height: 0;

    &:hover {
      cursor: pointer;
    }

    & svg {
      width: 24px;
      height: 24px;
      fill: #94A0B1;
      transition: all 0.3s;
    }

    &:hover svg {
      fill: $primary;
    }
  }
}
