.info-block {
  &__title {
    @include h15;
    margin: 0;
    color: $text-main;
  }

  &__subtitle {
    @include b15;
    color: $text-minor;
    margin: 0;
  }

  &__desc {
    @include b15;
    color: $text-main;
    margin: 0;
    word-break: break-word;
  }

  &__item {
    & p:first-child {
      margin-bottom: 2px;
    }
  }

  &__help {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
    background-image: url("../img/help-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-2px);

    &:hover {
      cursor: pointer;
    }
  }

  &__toggle-icon {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    background-image: url("../img/arrow-down_default.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg);

    &.opened {
      transform: rotate(180deg);
    }
  }
}

@include tablet {
  .info-block {
    &__subtitle,
    &__desc {
      @include b11;
    }

    &__title {
      @include h13;
    }
  }
}
