body {
  height: auto;
}

body.js__body-no-scroll {
  overflow: hidden;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

ul li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
