// РАЗРЕШЕНИЯ
$width-desktop: 1280px;
$width-tablet: 768px;
$width-mobile-max: 480px;
$width-mobile-min: 320px;

// ЦВЕТА
$text-main: #444;
$text-minor: #888;
$stroke: #eee;
$bg: #888;
$disabled: #dadada;
$primary: #00adef;
$primary-hover: #4687e0;
$btn-bg: #e8f8fe;
$alert: #ff0000;
$waiting: #fdd74f;
$success: #3ddc97;
$primary-pressed: #095aad;

